.projects {
  margin: 20px;
}
.dashboard_top {
  margin: 1rem;
}
.dashboard_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: 1rem;
}
.dashboard_card-single {
  display: flex;
  padding: 1rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 0.1px solid #ebebeb !important;
  align-items: center;
}
.BrP5 {
  margin-top: 10px;
  border: 0.1px solid #ebebeb !important;
  border-radius: 5px;
}
.dashboard_card-single > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #4d4f5c;
  background-color: #e7e7e7 !important;
}
.dashboard_card-single > div:last-child {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.dashboard_card-single > div:last-child > span {
  font-size: 16px;
  color: #575757;
}
.dashboard_card-single > div:last-child > div {
  font-size: 22px;
}

.header_table {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #ffffff;
}
.header_table div:first-child {
  font-weight: 500;
  font-size: 20px;
  color: #4d4f5c;
  line-height: 1.2;
}
.title_btn {
  margin-bottom: 10px;
}
.title_btn ul li {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.title_btn ul li:hover {
  background-color: #a66dd4 !important;
  color: #ffffff;
}
.title_btn ul li a {
  text-decoration: none;
  color: black;
}
.title_btn ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.active {
  background-color: #a66dd4 !important;
  color: #fff;
}

.top_sale {
  width: 100%;
  margin-top: 10px;
}

.top_sale table {
  width: 100%;
  margin-top: 20px;
}

.top_sale th,
.top_sale td {
  padding: 8px 20px;
  text-align: left;
}
.top_sale tr {
  border-top: 1px solid #d5d5d5;
}
.product-cell {
  display: flex;
  align-items: center;
}

.product-cell img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  flex-shrink: 0;
}

.product-cell span {
  flex-grow: 1;
}
.td_at {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.layout {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
