.dashboard_top {
  margin: 1rem;
}
.dashboard_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.dashboard_card-single {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 2px;
  cursor: pointer;
}
.dashboard_card-single > div:first-child > div {
  font-size: 1.7rem;
}
.dashboard_card-single div:last-child .icon {
  font-size: 2.5rem;
  color: #03331b;
}
.dashboard_card-single div:first-child span {
  color: #656565;
  font-size: 1.5rem;
}

.card-body table {
  width: 100%;
}

.recent-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 70% auto;
  grid-gap: 2rem;
}
._card {
  background-color: #fff;
  border-radius: 5px;
}
.card-body,
.card-header {
  padding: 1rem;
}
.card-header span {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header button {
  background-color: #002f23 !important;
  border-radius: 1px !important;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: 1px solid beige;
  font-weight: 400;
}
.card-body table {
  border-collapse: collapse;
}
.card-body table thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
.card-body table thead td {
  font-weight: 700;
}
.card-body table thead td,
.card-body table tbody td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #656565;
}
.card-body table tbody td:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-body table tbody td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.Pending {
  background-color: rgb(255, 43, 198);
}

/* Trạng thái Confirmed */
.Confirmed {
  background-color: rgb(0, 74, 0);
}

/* Trạng thái Shipped */
.Shipped {
  background-color: rgb(0, 0, 179);
}

/* Trạng thái Finished */
.Finished {
  background-color: purple;
}

/* Trạng thái Cancelled */
.Cancelled {
  background-color: red;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem 0;
}
._info {
  display: flex;
  align-items: center;
}
._info img {
  border-radius: 50%;
  margin-right: 0.7rem;
}
._info div span:first-child {
  font-size: 1rem;
  font-weight: 700;
  color: #545454;
}
._info div span:last-child {
  font-size: 0.9rem;
  font-weight: 600;
  color: #858585;
}
._info div {
  display: flex;
  flex-direction: column;
}
