.container-admin {
  display: flex;
  overflow: hidden !important;
}

main-sider {
  flex: auto;
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #ffffff4e;
  width: auto;
  z-index: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  background-color: #fafbfe;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  /* border: 0.1px solid #ebebeb; */
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: #000000;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo div {
  color: #000000;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

.sidebar-link {
  display: flex;
  padding: 0.625rem 1.625rem;
  gap: 20px;
  color: #000000;
  font-size: 1.2rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
  align-items: center;
}

.sidebar-link i {
  font-size: rem;
  margin-right: 0.75rem;
}

div.sidebar-link:hover {
  background-color: rgba(42, 7, 7, 0.075);
  border-left: 3px solid #3b7ddd;
}
.ATV {
  background-color: rgba(42, 7, 7, 0.075) !important;
  border-left: 3px solid #3b7ddd !important;
}

.sidebar-item {
  position: relative;
  cursor: pointer;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.notification-container {
  display: flex;
  position: absolute;
  width: 300px;
  height: 400px;
  background: #ffffff;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  top: 60px;
  right: 80px;
  z-index: 100000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notification-bottom-container {
  display: flex;
  width: 300px;
  background: #ffffff;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  bottom: 0px;
  right: 10px;
  position: fixed;
  z-index: 100000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notification {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.notification-content {
  display: flex;
  flex-direction: column;
}

.notification-title {
  font-weight: bold;
}

.notification-id,
.notification-time {
  font-size: 0.8em;
  color: gray;
}

.notification-dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  align-self: center;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: end;
  border-bottom: 0.1px solid #ebebeb;
  align-items: center;
}

.bell-icon-container {
  margin: 10px 0px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img-container {
  margin: 10px 20px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.profile-img {
  width: 40px;
  height: 40px;
}
.container__notification {
  display: flex;
  width: 300px;
  background: #ffffff;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  bottom: 0;
  right: 10px;
  transform: translateY(100);
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}
