.voucher-container {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  max-width: 280px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.voucher-contai {
  width: 100%;
  display: flex;
}

.voucher-heading {
  text-align: center;
  margin-bottom: 16px;
}

.voucher-field {
  margin-bottom: 8px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.save-button:hover {
  background-color: #45a049;
}

.voucher-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.form-container1 {
  width: 40%;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form-field {
  margin-bottom: 12px;
}

.form-field label {
  display: block;
  margin-bottom: 4px;
}

.form-field input,
.form-field select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.add-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #1e88e5;
}
.vouadd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu xám semi-transparent */
  z-index: 999999999; /* Đảm bảo nằm phía dưới của form */
}
