.table-row {
  display: flex;
  padding: 10px 20px;
  gap: 30px;
}
.add-category-table {
  width: 100%;
}

.table-row .column-1 {
  flex: 3;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.table-row .column-2 {
  flex: 7;
}
.table-row .column-2 input {
  padding: 10px 10px;
  font-size: 16px;
  width: 80%;
  border-radius: 5px;
  color: #4a4a4a;
  border-color: #d6d6d6 !important;
}
.table-row .column-2 select {
  padding: 10px 10px;
  font-size: 16px;
  width: 80%;
  border-radius: 5px;
  color: #4a4a4a;
  border-color: #d6d6d6 !important;
}
.table-row .column-2 textarea {
  padding: 10px 10px;
  font-size: 16px;
  width: 80%;
  border-radius: 5px;
  color: #4a4a4a;
  border-color: #d6d6d6 !important;
  min-height: 80px;
}
.table-row .column-2 input:focus {
  outline: none;
}
.column-1 button {
  padding: 5px 20px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #07503d;
  border-radius: 3px;
  border: none;
}
.table-row .column-2 textarea:focus {
  outline: none;
}
.column-2 button {
  padding: 5px 20px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #07503d;
  border-radius: 3px;
  border: none;
}
