.container-admin {
  display: flex;
}

.sidebar-admin {
  height: 100vh;
  background: #242424;
  color: #fff;
  transition: width 0.3s;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo img {
  width: 100px;
}

.bars {
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #bdb8d7;
  text-decoration: none;
}

.link:hover {
  background: #575757;
}

.link.active {
  background-color: #07503d; /* Màu nền khi được chọn */
  color: #fff; /* Màu chữ khi được chọn */
}

.icon {
  margin-right: 10px;
}

.link_text {
  white-space: nowrap;
}
