body {
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px !important;
  }
}
.container {
  max-width: 1140px !important;
  margin: 0 auto !important;
}

.header-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.header-left-wrap div a {
  display: flex;
  align-items: center;
}

.header-right-wrap {
  cursor: pointer;
}

.header-account {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-login-and-register {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 18px;
  font-weight: 500;
}

.header-register {
  cursor: pointer;
}

.header-login {
  cursor: pointer;
}
.header-form-group div input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border-color: gray;
}
.header-form-group div label {
  display: flex;
  position: absolute;
  right: 10px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  padding-left: 10px;
  border-left: 0.1px solid gray;
}
.header-form-group div {
  display: flex;
  align-items: center;
}
.header-form-group {
  position: relative;
  width: 450px;
}

/*bottom*/
.header-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.background_cl {
  background-color: #006a31;
}

.header-main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.header-a {
  font-size: 18px;
  font-weight: 500;
  color: #f6f6f6;
  padding: 15px;
  text-decoration: none;
  align-items: center;
}
.header-a:hover {
  font-size: 18px;
  font-weight: 500;
  color: #f6f6f6;
  padding: 15px;
  text-decoration: none;
  align-items: center;
  color: #006a31;
  background-color: #f6f6f6;
}
.header-cart {
  display: flex;
  border-radius: 20px;
  background-color: #f6f6f6;
  align-items: center;
  gap: 5px;
  padding: 3px 5px 3px 10px;
}
.header-cart-qty {
  display: flex;
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.header-icon {
  color: #006a31;
}
.header-cart p a {
  font-size: 16px;
  font-weight: 500;
}

.header-avata {
  height: 35px;
  width: 35px;
  border: 1px solid #006a31;
  border-radius: 50px;
  overflow: hidden;
}
.header-avata img {
  height: 35px;
  width: 35px;
}
.header-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.box {
  position: absolute;
  border: 1px solid #006a31;
  width: 300px;
  background-color: #f6f6f6;
  top: 100%;
  border-radius: 5px;
  right: 0px;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex; /* Sử dụng flexbox để bố trí các phần tử con */
  flex-direction: column; /* Đặt các phần tử con theo cột */
  align-items: stretch; /* Đảm bảo các phần tử con chiếm hết chiều rộng */
}
.hover:hover {
  background-color: #c3c3c3;
  border-radius: 10px;
}
